.all__Orders{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(24rem,1fr));
    gap:1rem;
    width: 100%;
}


@media screen and (max-width:800px){
    .orders__Main{
        padding: 2rem 7%;
    }
}